<!-- SEARCH -->
{% if page == "myportal_index" or page == "myaccount" or page == "login" or page == "registration" or page == "authentication_verification" or page == "forgot_password" or page == "authentication_verification" %} {% else %}
    <div id="search" class="hidden-phone">
      <div class="container">
        <div class="row">
          {{ search_form_begin }}
          <div class="col-md-12">
            {{template_form_params}}
            <input type="text" id="qMB" name="q" maxlength="100" value="" placeholder="{{system.snippets.have_a_question}}" class="input-xlarge form-control" autocomplete="off" />
            <button type="submit" class="button button-primary" id="support-search-submit" value="{{system.snippets.search}}">{{system.snippets.search}}</button>
          </div>
          {{ search_form_end }}
        </div>
      </div><!-- Search Container -->
    </div><!-- #desk-search -->
{% endif %}
<!-- END SEARCH -->


<!--  AutoSuggest
//    This is where results populate to.
//    Remains hidden until the user enters text into the search box.
//    It then attaches it self to the bottom of the search box. -->
<div id="SearchAutoSuggest" class="ui-menu"></div>
<!-- END Auto Suggest-->

<!--  END DESK BRAND IDS/NAMEs
//    This should be added in the layout section under 'desk-external-variables'
//    Adjust the IDs in the if statment to reflect brands you don't want to use.
//    For example: the 'Home' brand -->
  <div id="desk-brands">
    {% for brand in desk.brands %}
      {% if brand.id != 5555 and brand.id != 5555 %}
        <div id="{{brand.id}}">{{brand.name}}</div>
      {% endif %}
    {% endfor %}
  </div>
<!-- END DESK BRAND IDS/NAMEs -->
