        <div id="desk-external-variables-email_new" class="desk-external-variables hide">
          <div id="system-snippets-name_required">{{system.snippets.name_required}}</div>
          <div id="system-snippets-email_required">{{system.snippets.email_required}}</div>
          <div id="system-snippets-invalid_email">{{system.snippets.invalid_email}}</div>
          <div id="system-snippets-subject_required">{{system.snippets.subject_required}}</div>
          <div id="system-snippets-question_required">{{system.snippets.question_required}}</div>
          <div id="system-snippets-exceeding_max_chars">{{system.snippets.exceeding_max_chars}}</div>
          <div id="max_number_attachments">{{desk.system.max_attachments}}</div>
          <div id="system-snippets-add_attachment">{{system.snippets.add_attachment}}</div>
          <!-- ADDED FOR MULTIBRAND ARTICLE SUGGEST -->
          <div id="desk-brands">
            {% for brand in desk.brands %}
               <div id="{{brand.id}}">{{brand.name}}</div>
            {% endfor %}
          </div>
        </div>
        <div id="content">
          <div class="container email" role="main">
            <div class="row">
              <div class="col-md-8 {% if desk.page.theme.layout != 'left' %} col-md-push-4 {% endif %}">
                <div class="row page-heading">
                  <div class="col-md-12">
                    <h2>{{system.snippets.email_us}}</h2>
                    <!-- Please Ensure these get copied to any new theme. Important to Support Team~-->
                    <h4>{{system.snippets.closed_holiday}}</h4>
                    <h4>{{system.snippets.outage_message}}</h4>
                  </div>
                </div>
                <div class="row nomarg body">
                  <div class="panel panel-default form">
                   {{form_begin}}
                    <div class="panel-body">
                      {% if current_user == nil or current_user.is_guest %}
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="interaction_name" class="control-label">{{system.snippets.your_name}} ({{system.snippets.required}}):</label>
                              <input value="{{ interaction.name }}" id="interaction_name" class="form-control" maxlength="100" name="interaction[name]" type="text" required />
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="interaction_email" class="control-label">{{system.snippets.your_email}} ({{system.snippets.required}}):</label>
                              <input value="{{ interaction.email }}" id="interaction_email" class="form-control" maxlength="100" name="interaction[email]" type="email" required />
                            </div>
                          </div>
                        </div>
                      {% endif %}
                      <div class="form-group">
                        <label for="email_subject" class="control-label">{{system.snippets.subject}} ({{system.snippets.required}}):</label>
                        <input id='email_subject' class="form-control" maxlength='100' name='email[subject]' type='text' value='{% if search_term and search_term != '' %}{{search_term}}{% else %}{{email.subject}}{%endif%}' required/>
                      </div>
                      <div class="form-group">
                        <label for="email_body" class="control-label">{{system.snippets.message}} ({{system.snippets.required}}):</label>
                        <textarea id='email_body' class="form-control" rows="6" cols="6" name='email[body]' required>{{email.body}}</textarea>
                      </div>
                      <div class="form-group attachments">
                        <label for="case_attachment[attachment]" class="control-label"><i class="fa fa-paperclip"></i>{{system.snippets.file_attachment}}</label>
                        <div class="desk_file_upload">
                            <input type="button" value="{{system.snippets.choose_file}}">
                            <input name="case_attachment[attachment]" size="84" type="file">
                            <div class="faux-file-field">
                              <input disabled="disabled" type="text">
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel-footer input-button">
                      <button id='email_submit' class="btn btn-submit" name='commit' type='submit' value='{{system.snippets.send_email}}'>{{system.snippets.send_email}}</button>
                    </div>
                    {{form_end}}
                  </div>
                </div>
              </div>
              <!-- USE LIQUID IF SIDEBAR IS CAPTURED IN LAYOUT {{ sidebar_suggest }} -->
              <!-- BEGIN AUTO SUGGEST SIDEBAR -->
              <div id="sidebar-suggest" class="col-md-4">
                <div id="common" class="row lead-in">
                  <div class="col-md-12">
                    {% if page == "question_new" %}
                      <h2>{{ system.snippets.related_questions }}</h2>
                    {% else %}
                      <h2>{{ system.snippets.related_answers }}</h2>
                    {% endif %}
                      <h4>{{ system.snippets.start_typing }}</h4>
                  </div>
                </div>
                <div class="autosuggest">

                </div>
              </div>
              <!-- END AUTO SUGGEST SIDEBAR -->
            </div><!-- row -->
          </div><!-- container -->
        </div><!-- content -->
        <script type="text/javascript" src="//PATHT-TO-YOUR-JS-SERVER/js/desk.portal.body.email_new.js"></script>
